@model Project_LMS.Models.Document

@{
    /**/

    /**/

    ViewBag.Title = "Upload Activity Document";
}

<h2>Upload Activity Document</h2>

@using (Html.BeginForm("CreateActivityDocument", "Documents", new { id = ViewBag.ActivityId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="editor-field">

        <div>Upload new document: <input type="file" accept=".xlsx,.xls, .doc, .docx,.ppt, .pptx,.txt,.pdf" name="Document" /></div>
    </div>

    <input type="submit" value="Save" class="btn btn-primary"/>

    @Html.ActionLink("Cancel and Go Back", "Edit", "Activities", new { id = ViewBag.ActivityId }, new { @class = "btn btn-primary btn-large" })
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
