@model Project_LMS.Models.Document

@{
    /**/

    /**/

    ViewBag.Title = "Upload Course Document";
}

<h2>Upload Course Document</h2>

@using (Html.BeginForm("CreateCourseDocument", "Documents", new { id = ViewBag.CourseId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="editor-field">

        <div>Upload new document: <input type="file" accept=".xlsx,.xls, .doc, .docx,.ppt, .pptx,.txt,.pdf" name="Document" /></div>
    </div>

    <input type="submit" value="Save" />

    @Html.ActionLink("Cancel and Go Back", "Edit", "TeacherCourses", new { id = ViewBag.CourseId }, null)
    }

    <div>
        @Html.ActionLink("Back", "Edit", "TeacherCourses", new { id = ViewBag.CourseId }, null)
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
