<div id='cssmenu'>
    <ul>
        <li class='has-sub'>
            <a href='#'><span>P</span></a>
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>P1</span></a>
                    <ul>
                        <li><a href='#'><span>P1.1</span></a></li>
                        <li><a href='#'><span>P1.2</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'>
                    <a href='#'><span>P2</span></a>
                    <ul>
                        <li><a href='#'><span>S2.1</span></a></li>
                        <li class='last'><a href='#'><span>S2.2</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li class='has-sub'>
            <a href='#'><span>P</span></a>
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>P1</span></a>
                    <ul>
                        <li><a href='#'><span>P1.1</span></a></li>
                        <li class='last'><a href='#'><span>P1.1</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'>
                    <a href='#'><span>P2</span></a>
                    <ul>
                        <li><a href='#'><span>S2.1</span></a></li>
                        <li class='last'><a href='#'><span>S2.2</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>
