@model IEnumerable<Project_LMS.Models.Activity>

<h4 style="color:crimson; text-align:center"> Upcoming Homework </h4>

<div class="well" style="width: 300px; max-width: 300px; word-wrap:break-word;word-break:break-word">
    @if (ViewBag.IsEmpty == "Yes")
    {
        <p style="color: blue; font-weight: bold">No homework event detected!</p>
    }
    else if (ViewBag.IsEmpty == "No")
    {
        foreach (var activity in Model)
        {
            <section style="color:blue; font-weight:bold; max-width: 300px; word-wrap:break-word;word-break:break-word">
                <p> @activity.Module.Name</p>
                <p style="font-weight:normal"><i class="glyphicon glyphicon-home"> </i> @activity.ActivityName </p>
                <p style="font-weight:normal"> Deadline: @activity.End</p>
                <a href="@Url.Action("CreateStudentActivityDocument", "Documents", new { id = activity.ActivityId })" class="btn btn-info">
                    <i class="glyphicon glyphicon-paperclip"></i>
                    <span>
                        <strong>Upload homework</strong>
                    </span>
                </a>
            </section>
            <hr>
        }
    }
</div>
